.table {
  border-collapse: separate;
  border-spacing: 2rem 0rem;
}

.table td:last-child {
  text-align: end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}
