.table {
  border-collapse: collapse;
}

.table td:last-child {
  text-align: end;
}

.table tfoot td {
  border-top: solid 2px black;
  padding-top: 1rem;
}

.table td:nth-child(2),
th:nth-child(2) {
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}
