.table {
  border-collapse: collapse;
}

.table td:last-child {
  text-align: end;
}

.table td {
  line-height: 1.5em;
}

.table tbody tr:last-of-type td {
  padding-bottom: 0.5em
}
.table tfoot tr:first-of-type td {
  border-top: solid 2px black;
  padding-top: 0.5em;
}

.table td:nth-of-type(n-1), th:nth-of-type(n-1) {
  padding-right: 1rem;
}

.table td:nth-of-type(2) {
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}
